{% extends "TwigBundle::layout.html.twig" %}

{% block title "Demo" %}

{% block body %}
    <div class="block">
        <h1>Hello world!</h1>

        <p>The meaning of life is {{ result }}</p>
    </div>
{% endblock %}
